# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [ ]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [ ]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [2]:
#Install the dependencies
#%%capture
!pip install dlt[duckdb]

/usr/bin/pip:6: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  from pkg_resources import load_entry_point
Requirement already satisfied: dlt[duckdb] in /home/ih/.local/lib/python3.8/site-packages (0.4.2)
Requirement already satisfied: PyYAML>=5.4.1 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2.0.25)
Requirement already satisfied: astunparse>=1.6.3 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2023.12.2)
Requirement already satisfied: gitpython>=3.1.29 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.1.41)
Requirement already satisfied: giturlparse>=0.10.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: orjson>=3.6.7; platform_python_implementation != "PyPy" in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.9.13)
Requirement already satisfied: packaging>=21.1 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (23.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2023.3.post1)
Requirement already satisfied: requests>=2.26.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (69.0.3)
Requirement already satisfied: simplejson>=3.17.5 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: tomlkit>=0.11.3 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (0.12.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: tzdata>=2022.1 in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1; extra == "duckdb" or extra == "motherduck" in /home/ih/.local/lib/python3.8/site-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in /home/ih/.local/lib/python3.8/site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/lib/python3/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.34.2)
Requirement already satisfied: six<2.0,>=1.6.1 in /usr/lib/python3/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.14.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/ih/.local/lib/python3.8/site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Requirement already satisfied: ply in /home/ih/.local/lib/python3.8/site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in /home/ih/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: backports.zoneinfo>=0.2.1; python_version < "3.9" in /home/ih/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (0.2.1)
Requirement already satisfied: time-machine>=2.6.0; implementation_name != "pypy" in /home/ih/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: importlib-resources>=5.9.0; python_version < "3.9" in /home/ih/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (6.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ih/.local/lib/python3.8/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2019.11.28)
Requirement already satisfied: types-setuptools>=57.0.0 in /home/ih/.local/lib/python3.8/site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/ih/.local/lib/python3.8/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/ih/.local/lib/python3.8/site-packages (from importlib-resources>=5.9.0; python_version < "3.9"->pendulum>=2.1.2->dlt[duckdb]) (3.17.0)

In [4]:
# to do: homework :)
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

generator = square_root_generator(5)
sum = 0

for sqrt_value in generator:
    sum+=sqrt_value

print('Question 1:', sum)

generator = square_root_generator(13)

for sqrt_value in generator:
    pass

print('Question 2:', sqrt_value)

Question 1: 8.382332347441762
Question 2: 3.605551275463989

In [6]:
import dlt

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

pipeline = dlt.pipeline(pipeline_name="workshop_homework",
						destination='duckdb', 
						dataset_name='people_data')

info = pipeline.run(people_1(), 
                    table_name="people", 
                    write_disposition="replace")

print(info)

Pipeline workshop_homework load step completed in 0.68 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_data
The duckdb destination used duckdb:////home/ih/workspace/workshop_homework.duckdb location to store data
Load package 1707344950.5917072 is LOADED and contains no failed jobs

In [7]:
import duckdb

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n People table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

 People table below:

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1707344950.5917072  H35xY45Lj13upg
1   2  Person_2   27  City_A  1707344950.5917072  HI/W6fvAenOLvg
2   3  Person_3   28  City_A  1707344950.5917072  8T5bTesPCclxGg
3   4  Person_4   29  City_A  1707344950.5917072  9y5MjAq7YSd4lQ
4   5  Person_5   30  City_A  1707344950.5917072  uA7PvSUVLdyJRA

In [ ]:
info = pipeline.run(people_2(), 
                    table_name="people", 
                    write_disposition="append")

print(info)

In [11]:
print("\n\n\n People table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

sum = conn.sql("SELECT SUM(age) FROM people").df()
print('Question 3:')
display(sum)

 People table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707344950.5917072  H35xY45Lj13upg       None
1    2  Person_2   27  City_A  1707344950.5917072  HI/W6fvAenOLvg       None
2    3  Person_3   28  City_A  1707344950.5917072  8T5bTesPCclxGg       None
3    4  Person_4   29  City_A  1707344950.5917072  9y5MjAq7YSd4lQ       None
4    5  Person_5   30  City_A  1707344950.5917072  uA7PvSUVLdyJRA       None
5    3  Person_3   33  City_B  1707345125.8603132  d+7+vH4vmOAWwQ      Job_3
6    4  Person_4   34  City_B  1707345125.8603132  A0lii61lJpbXGw      Job_4
7    5  Person_5   35  City_B  1707345125.8603132  PHj4bY22IKH27Q      Job_5
8    6  Person_6   36  City_B  1707345125.8603132  i+qv8muicUJoYg      Job_6
9    7  Person_7   37  City_B  1707345125.8603132  TgzqchmI9C7gtQ      Job_7
10   8  Person_8   38  City_B  1707345125.8603132  20rn1h11+VtW1A      Job_8

Question 3:

   sum(age)
0     353.0

In [33]:
info = pipeline.run(people_1(), 
                    table_name="people_merged", 
                    write_disposition="replace")

print(info)

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n People_merged table below:")

people_merged = conn.sql("SELECT * FROM people_merged").df()
display(people_merged)

Pipeline workshop_homework load step completed in 0.34 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_data
The duckdb destination used duckdb:////home/ih/workspace/workshop_homework.duckdb location to store data
Load package 1707346656.923195 is LOADED and contains no failed jobs
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_merged       │
│ people_merged_2     │
└─────────────────────┘

 People_merged table below:

   id      name  age    city       _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707346656.923195  ENrYX9iQj89Pnw       None
1   2  Person_2   27  City_A  1707346656.923195  xKhPG/mmi9A/uQ       None
2   3  Person_3   28  City_A  1707346656.923195  kmCVn56zXpeWqA       None
3   4  Person_4   29  City_A  1707346656.923195  IEE6pg0TU920bQ       None
4   5  Person_5   30  City_A  1707346656.923195  /SsRrXC5WiSqpA       None

In [42]:
info = pipeline.run(people_2,
					table_name="people_merged",
					write_disposition="merge",
                    primary_key="id")

print(info)

print("\n\n\n People_merged table below:")

people_merged = conn.sql("SELECT * FROM people_merged").df()
display(people_merged)

Pipeline workshop_homework load step completed in 0.61 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_data
The duckdb destination used duckdb:////home/ih/workspace/workshop_homework.duckdb location to store data
Load package 1707347515.950844 is LOADED and contains no failed jobs



 People_merged table below:

   id      name  age    city       _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707346656.923195  ENrYX9iQj89Pnw       None
1   2  Person_2   27  City_A  1707346656.923195  xKhPG/mmi9A/uQ       None
2   8  Person_8   38  City_B  1707347515.950844  GcoarPG27tD8Hg      Job_8
3   5  Person_5   35  City_B  1707347515.950844  01H2UBhh3CNxTg      Job_5
4   4  Person_4   34  City_B  1707347515.950844  NhdwJ6JvP0ywfg      Job_4
5   7  Person_7   37  City_B  1707347515.950844  6jHlzAP+3FpdfQ      Job_7
6   3  Person_3   33  City_B  1707347515.950844  MrMzzQz3Y1V46A      Job_3
7   6  Person_6   36  City_B  1707347515.950844  wEWIOmluFTMM8g      Job_6

In [43]:
sum = conn.sql("SELECT SUM(age) FROM people_merged").df()
print('Question 4:')
display(sum)

Question 4:

   sum(age)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX